# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Jupyter and IPython
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Others
*.log

